.experiencia {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 100px;
  margin-top: 40px;
  padding: 40px 20px;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px 20px;
  position: relative;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #F0F0F0;
  border-radius: 4px;
}

.p {
  margin-bottom: 40px;
  line-height: 1.33;
  max-width: 40ch;
 text-align: left;
 color: #525252;
 font-size: 1.5rem;
}

.experiencia strong {
  color: #141414;
}

.ano {
  position: absolute;
  left: -60px;
  margin-top: 22px;
  font-size: 0.8rem;
  color: #525252;
  }

.cargo {
  color: #141414;
  grid-row: 1;
  grid-column: 2;
  font-size: 0.875rem;
}

.empresa p, h3 {
  grid-column: 1;
   font-size: 0.875rem;
   color: #525252;
}

.empresa h3  {
  color: #141414;
}

.empresas-habilidades {
   grid-column: 2;
  font-size: 0.875rem;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
} 

.empresas-habilidades li {
  padding: 5px 10px;
  background-color: #FFFFFF;
  border-radius: 4px;
  flex: -1;
 } 

 .empresa::before {
  content: '';
   background: linear-gradient(#B6F829, #67DD0A);
  display: block;
  height: 20px;
  width: 4px;
  margin-left: -4px;
  margin-top: 15px;
  position: absolute;
 }

 @media (max-width: 1020px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 20px;
    place-items: center;
    margin-top: 10px;
      }
      .p {
        text-align: center;
          max-width: 400ch;
          font-size: 1rem;
      }
  .h2experiencia {
  font-size: 4rem;
  max-width: 40ch;
  color: #141414; 
  }
 }

 @media (max-width: 800px) {
   .p {
        text-align: center;
          max-width: 400ch;
          font-size: 1rem;
      }
  .h2experiencia {
  font-size: 3rem;
  max-width: 40ch; 
  }
 }

 @media (max-width: 400px) {
  .empresa p, h3 {
    font-size: 0.5rem;
  }
 }
 
