
.footer {
   background-color: black;
  }

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 100px;
   padding: 120px 20px 60px 20px;
   align-items: center;
 }


.footer-contato {
  color: white;
  font-size: 2.25rem;
  line-height: 1.8;
  font-weight: bold;
  margin-left: 100px;
  margin-top: 80px;
}

.footer-texto {
   color: #CCCCCC;
  font-size: 1.5rem;
   margin-left: 40px;
  margin-top: 85px;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
   color: #8F8F8F;
    margin-left: 40px;
}

@media (max-width:1000px){
  .footer-container {
    padding: 10px 20px;
    gap: 40px;
  }
  .footer-contato {
    margin-top: 10px;
  font-size: 1.2em;
  }
  .footer-texto {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  .footer-copy {
    margin-top: 20px;
    font-size: 0.875rem;
  }
}

@media (max-width:600px){
.footer-container {
grid-template-columns: 1fr;
gap: 10px;
justify-content: start;
text-align: start;
}
}
