.header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 4px;
  justify-content: center;
  }

  .header-menu a {
    color: black;
    font-size: 1.2rem;
    line-height: 1.3;
    padding: 10px;
    }

  @media (max-width: 800px) {
    .header {
      flex-direction: column;
      gap: 40px;
      padding: 20px;
    }
    .header a {
      background: #f5f5f5;
      border-radius: 4px;
     }
  }
