.main img {
max-width: 100%;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px 20px;
  justify-content: center;
  gap: 100px;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.main h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  word-break: break-word;
  margin-bottom: 30px;
  position: relative;
}

.main h1::before {
  content: '';
  display: block;
  background-image: url("./img/detalhe.svg");
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  width: 130px;
  height: 130px;
  margin-top: -20px;
  margin-left: -35px;
}

.main p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1020px) {
 .main h1 {
  font-size: 3.5rem;
 } 
 .main img {
  max-width: 30ch;
 }
 .main h1::before {
  width: 50px;
  height: 20px;
 }
}

@media (max-width: 800px) {
 .main {
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
  text-align: center;
 }
 .main img {
  margin: 0 auto;
 }
}

@media (max-width: 600px) {
 
  .main h1 {
  font-size: 2.5rem;
 } 

 .main img {
  display: none;
 }
}

